@import url("https://rsms.me/inter/inter.css");

@tailwind base;

/* Boilerplate */

html {
  @apply font-sans antialiased leading-tight;
  font-feature-settings: "liga" 1, "ss01" 1, "ss03" 1;
}
@supports (font-variation-settings: normal) {
  html {
    @apply font-sans-var;
  }
}
body {
  @apply text-gray-900 bg-white m-0;
}
.mode-dark body {
  @apply text-gray-300 bg-gray-900;
}
svg {
  height: 1em;
  width: auto;
}
svg.icon {
  @apply overflow-visible;
  stroke-width: 2;
}
svg.icon * {
  @apply stroke-current;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
a {
  @apply inline-block;
}
a,
button {
  @apply rounded transition;
}
a:focus,
button:focus,
.input:focus {
  @apply outline-none shadow-outline;
}
p {
  @apply leading-normal;
}

@tailwind components;

/* Custom components */

.btn {
  @apply font-medium text-center text-gray-900 rounded p-3;
}
.mode-dark .btn {
  @apply text-gray-300;
}

.btn-primary {
  @apply text-white bg-gray-800;
}
.btn-primary:hover {
  @apply bg-gray-900;
}
.mode-dark .btn-primary {
  @apply text-gray-900 bg-gray-300;
}
.mode-dark .btn-primary:hover {
  @apply bg-gray-400;
}

.btn-tertiary {
  @apply border-transparent;
}
.btn-tertiary:hover {
  @apply bg-gray-200;
}
.mode-dark .btn-tertiary:hover {
  @apply bg-black;
}

.input {
  @apply font-medium text-gray-900 bg-gray-300 rounded transition px-4 py-3;
}
.input::placeholder {
  color: inherit;
  opacity: 0.5;
}
.mode-dark .input {
  @apply text-gray-300 bg-black;
}

@tailwind utilities;

/* Custom utilities */

.transition {
  transition: all 0.15s ease-in-out;
}
.smooth-scroll {
  scroll-behavior: smooth;
}
